/*===============*/
/* --CSS Reset */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*=====================================*/
/* --Main sections sizes and colors */

.section-dark
{  
  padding: 5% 8%;
  background-color: #222;
  color: #d3d3d3;
 
}

.section-light
{
  padding: 5% 8%;
  background-color: #e9e9e9;
  color: #222;  
}

.section-light h1
{
  color: #222;
}


/*====================================================*/
/* --Flexbox for sections split on halves vertically */
.row
{
  display: flex;
}

.column
{
  flex: 50%;
}

/*=========================*/
/* --Hero section content styling */
h1
{ 
  padding: 0 2%;
  font-size: 4.5em;
  color: #fff;
}

h2
{
  padding: 0 2%;
  color: #777;
  text-transform: uppercase;
}

header p
{
  width: 50%;  
}

button
{
  margin: 2% 2%;
}

/*=========================*/
/* --Texts styling */


.equation
{
  font-size: 8em;
  color: #222;
}

.equation sup
{
  font-size: 0.7em;
}


p
{ 
  padding: 0 2%;
  font-size: 0.9em;
  line-height: 1.75;
  text-align: justify;  
}

img 
{
  padding: 1% 3%;
}

figure
{
  padding-bottom: 2%;
}


blockquote
{ 
  padding: 3% 10%;
  margin-bottom: 5%;
  font-size: 2em;
  background-color: #fff;
  color: #222;
}

ul li 
{
  list-style-type: none;
  padding: 1% 0;
}

footer {
  background-color: #000;
  color: #fff;
}